<!-- Services -->
<div class="services">
	<div class="container">
		<div class="services-grids">
			<div class="col-md-12 services-left">
				<h1>Our services</h1>
				<div class="services-left-grids">
					<div class="col-md-4 services-left-grid">
						<h3>Silver Spa</h3>
						<ul>
							<li>Eco-friendly Exterior Body Wash</li>
							<li>Foot mats cleaning </li>
							<li>Interior dashboard clean </li>
							<li>Tyre Dressing </li>
							<li>Windshield cleaning </li>
							<li>Side and Vent glass cleaning </li>							
						</ul>
						<h3>Book Now</h3>
						<%= link_to "Hatchback ₹249", new_service_booking_path('hatchback'), class: "home-btn" %><br>
						<%= link_to "Sedan ₹299",new_service_booking_path('sedan'), class: "home-btn" %><br>
						<%= link_to "SUV ₹349",new_service_booking_path('suv'), class: "home-btn" %>
					</div>
					<div class="col-md-4 services-left-grid">
						<h3>Gold Spa</h3>
						<ul>
							<li> Eco-friendly Exterior Body Wash </li>
							<li> Exterior Polish / Waxing  </li>
							<li> Foot mats cleaning
							<li> Carpet vacuuming </li>
							<li> Interior dashboard clean </li>
							<li> dashboard Polishing </li>
							<li> Side door panel Cleaning </li>
							<li> Tyre Dressing </li>
							<li> Windshield cleaning </li>
							<li> Side mirror cleaning </li>
							<li> Side and Vent glass cleaning </li>
						</ul>
						<h3>Book Now</h3>
						<%= link_to "Hatchback ₹499",new_service_booking_path('hatchback'), class: "home-btn" %><br>
						<%= link_to "Sedan ₹649",new_service_booking_path('sedan'), class: "home-btn" %><br>
						<%= link_to "SUV ₹799",new_service_booking_path('suv'), class: "home-btn" %>
					</div>
					<div class="col-md-4 services-left-grid">
						<h3>Platinum Spa</h3>
						<ul>
							<li> Eco-friendly Exterior Body Wash </li>
							<li> Exterior Polish / Waxing </li>
							<li> Minor Scratch romover from exterior </li>
							<li> Battery Terminal Coating </li>
							<li> Strain Removal of Seats  </li>
							<li> Strain Removal of roof </li>
							<li> Foot mats cleaning </li>
							<li> Complete vacuuming of Interiors </li>
							<li> Interior dashboard clean & shine </li>
							<li> dashboard Polishing </li>
							<li> Side door panel Cleaning </li>
							<li> Tyre cleaning & Tyre polishing </li>
							<li> Windshield cleaning  </li>
							<li> Side mirror cleaning  </li>
							<li> Side and Vent glass cleaning </li>
							<li> Cleaning of Hinges & side doors </li>
							<li> Complete body paint protection by a polymer based sealant </li>
							<li> All vinyl, plastic rubber deep cleaned & protected including dash & doors. </li>
						</ul>
						<h3>Book Now</h3>
						<%= link_to "Hatchback ₹999",new_service_booking_path('hatchback'), class: "home-btn" %><br>
						<%= link_to "Sedan ₹1249",new_service_booking_path('sedan'), class: "home-btn" %><br>
						<%= link_to "SUV ₹1599",new_service_booking_path('suv'), class: "home-btn" %>
					</div>
				</div>		
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- Services -->