<aside id="fh5co-hero" clsas="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
	   	<li style="background-image: url(assets/slide_2.jpg);">
	   		<div class="overlay-gradient"></div>
	   		<div class="container">
	   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h2>Our Services</h2>
	   					
	   				</div>
	   			</div>
	   		</div>
	   	</li>
  	</ul>
	</div>
</aside>

<div class="fh5co-services">
	<div class="container" id="nav-services">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
				<h2>Our pleasure to serve you</h2>
				<p>     Eco-friendly Exterior Body Wash Foot mats cleaning Interior dashboard clean Tyre Dressing Windshield cleaning Side and Vent glass cleaning  </p>
			</div>
			<div class="col-md-4 text-left item-block animate-box">
				<span class="icon">
					<%= image_tag "icon-car2.png",class: "img-responsive" %>					
				</span>
				<h3>Silver Spa</h3>
				<ul>
					<li>Eco-friendly Exterior Body Wash </li>
					<li>Foot mats cleaning </li>
					<li>Interior dashboard clean </li>
					<li>Tyre Dressing </li>
					<li>Windshield cleaning </li>
					<li>Side and Vent glass cleaning  </li>
					
				</ul>
				<%= link_to "Hatchback ₹249", "#{new_service_booking_path('silver-hatchback')}#booking-form",class: "btn btn-primary with-arrow" %><br />
				<%= link_to "Sedan ₹299", "#{new_service_booking_path('silver-sedan')}#booking-form",class: "btn btn-primary with-arrow" %><br />
				<%= link_to "SUV ₹349", "#{new_service_booking_path('silver-suv')}#booking-form",class: "btn btn-primary with-arrow" %>
			</div>

			<div class="col-md-4 text-left item-block animate-box">
				<span class="icon">
					<%= image_tag "icon-car3.png",class: "img-responsive" %>					
				</span>
				<h3>Gold Spa</h3>
				<ul>
					<li> Eco-friendly Exterior Body Wash </li>
					<li> Exterior Polish / Waxing </li>
					<li> Foot mats cleaning </li>
					<li> Carpet vacuuming </li>
					<li> Interior dashboard clean </li>
					<li> Dashboard Polishing </li>
					<li> Side door panel Cleaning </li>
					<li> Tyre Dressing </li>
					<li> Windshield cleaning </li>
					<li> Side mirror cleaning </li>
					<li> Side and Vent glass cleaning </li>
					
				</ul>
				<%= link_to "Hatchback ₹499", "#{new_service_booking_path('gold-hatchback')}#booking-form",class: "btn btn-primary with-arrow" %><br />
				<%= link_to "Sedan ₹649", "#{new_service_booking_path('gold-sedan')}#booking-form",class: "btn btn-primary with-arrow" %><br />
				<%= link_to "SUV ₹799", "#{new_service_booking_path('gold-suv')}#booking-form",class: "btn btn-primary with-arrow" %>
			</div>

			<div class="col-md-4 text-left item-block animate-box">
				<span class="icon">
					<%= image_tag "icon-car4.jpg",class: "img-responsive" %>					
				</span>
				<h3>Platinum Spa</h3>
				<ul>
					<li> Eco-friendly Exterior Body Wash </li>
					<li> Exterior Polish / Waxing </li>
					<li> Minor Scratch romover from exterior </li>
					<li> Battery Terminal Coating </li>
					<li> Strain Removal of Seats </li>
					<li> Strain Removal of roof </li>
					<li> Foot mats cleaning </li>
					<li> Complete vacuuming of Interiors </li>
					<li> Interior dashboard clean & shine </li>
					<li> Dashboard Polishing </li>
					<li> Side door panel Cleaning </li>
					<li> Tyre cleaning & Tyre polishing </li>
					<li> Windshield cleaning </li>
					<li> Side mirror cleaning </li>
					<li> Side and Vent glass cleaning </li>
					<li> Cleaning of Hinges & side doors </li>
					<li> Complete body paint protection by a polymer based sealant </li>
					<li> All vinyl, plastic rubber deep cleaned & protected including dash & doors. </li>
					
				</ul>
				<%= link_to "Hatchback ₹999", "#{new_service_booking_path('platinum-hatchback')}#booking-form",class: "btn btn-primary with-arrow" %><br />
				<%= link_to "Sedan ₹1249", "#{new_service_booking_path('platinum-sedan')}#booking-form",class: "btn btn-primary with-arrow" %><br />
				<%= link_to "SUV ₹1599", "#{new_service_booking_path('platinum-suv')}#booking-form",class: "btn btn-primary with-arrow" %>
			</div>

		</div>
	</div>
</div>

<div class="fh5co-cta" style="background-image: url(images/image_3.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="col-md-12 text-center animate-box">
			<h3>We Try To Update The Site Everyday</h3>
			<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
		</div>
	</div>
</div>