<!-- Services -->
<div class="services">
	<div class="services-grids">
		<div class="col-md-12 services-center">
			<h1>Our services</h1>
			<div class="services-left-grids">
				<div class="col-md-3 services-left-grid" style="margin-left: 5%;">
					<div class="panel panel-info">
						<div class="panel-heading silver-bck-color">
							<h3>Silver Spa</h3>
						</div>
						<ul>
							<li class="glyphicon glyphicon-ok">Eco-friendly Exterior Body Wash</li>
							<li class="glyphicon glyphicon-ok">Foot mats cleaning </li>
							<li class="glyphicon glyphicon-ok">Interior dashboard clean </li>
							<li class="glyphicon glyphicon-ok">Tyre Dressing </li>
							<li class="glyphicon glyphicon-ok">Windshield cleaning </li>
							<li class="glyphicon glyphicon-ok">Side and Vent glass cleaning </li>							
						</ul>							
					</div>
					<h3>Book Now</h3>
					<%= link_to "Hatchback ₹249", new_service_booking_path('silver-hatchback'), class: "home-btn silver-bck-color" %><br>
					<%= link_to "Sedan ₹299",new_service_booking_path('silver-sedan'), class: "home-btn silver-bck-color" %><br>
					<%= link_to "SUV ₹349",new_service_booking_path('silver-suv'), class: "home-btn silver-bck-color" %>
				</div>
				<div class="col-md-3 services-left-grid"  style="margin-left: 5%;">
					<div class="panel panel-info">
						<div class="panel-heading gold-bck-color">
							<h3>Gold Spa</h3>
						</div>
						<ul>
							<li class="glyphicon glyphicon-ok"> Eco-friendly Exterior Body Wash </li>
							<li class="glyphicon glyphicon-ok"> Exterior Polish / Waxing  </li>
							<li class="glyphicon glyphicon-ok"> Foot mats cleaning
							<li class="glyphicon glyphicon-ok"> Carpet vacuuming </li>
							<li class="glyphicon glyphicon-ok"> Interior dashboard clean </li>
							<li class="glyphicon glyphicon-ok"> Dashboard Polishing </li>
							<li class="glyphicon glyphicon-ok"> Side door panel Cleaning </li>
							<li class="glyphicon glyphicon-ok"> Tyre Dressing </li>
							<li class="glyphicon glyphicon-ok"> Windshield cleaning </li>
							<li class="glyphicon glyphicon-ok"> Side mirror cleaning </li>
							<li class="glyphicon glyphicon-ok"> Side and Vent glass cleaning </li>
						</ul>
					</div>
					<h3>Book Now</h3>
					<%= link_to "Hatchback ₹499",new_service_booking_path('gold-hatchback'), class: "home-btn gold-bck-color" %><br>
					<%= link_to "Sedan ₹649",new_service_booking_path('gold-sedan'), class: "home-btn gold-bck-color" %><br>
					<%= link_to "SUV ₹799",new_service_booking_path('gold-suv'), class: "home-btn gold-bck-color" %>
				</div>
				<div class="col-md-3 services-left-grid"  style="margin-left: 5%;">
					<div class="panel panel-info">
						<div class="panel-heading platinum-bck-color">
							<h3>Platinum Spa</h3>
						</div>
						<ul>
							<li class="glyphicon glyphicon-ok"> Eco-friendly Exterior Body Wash </li>
							<li class="glyphicon glyphicon-ok"> Exterior Polish / Waxing </li>
							<li class="glyphicon glyphicon-ok"> Minor Scratch romover from exterior </li>
							<li class="glyphicon glyphicon-ok"> Battery Terminal Coating </li>
							<li class="glyphicon glyphicon-ok"> Strain Removal of Seats  </li>
							<li class="glyphicon glyphicon-ok"> Strain Removal of roof </li>
							<li class="glyphicon glyphicon-ok"> Foot mats cleaning </li>
							<li class="glyphicon glyphicon-ok"> Complete vacuuming of Interiors </li>
							<li class="glyphicon glyphicon-ok"> Interior dashboard clean & shine </li>
							<li class="glyphicon glyphicon-ok"> Dashboard Polishing </li>
							<li class="glyphicon glyphicon-ok"> Side door panel Cleaning </li>
							<li class="glyphicon glyphicon-ok"> Tyre cleaning & Tyre polishing </li>
							<li class="glyphicon glyphicon-ok"> Windshield cleaning  </li>
							<li class="glyphicon glyphicon-ok"> Side mirror cleaning  </li>
							<li class="glyphicon glyphicon-ok"> Side and Vent glass cleaning </li>
							<li class="glyphicon glyphicon-ok"> Cleaning of Hinges & side doors </li>
							<li class="glyphicon glyphicon-ok"> Complete body paint protection by a polymer based sealant </li>
							<li class="glyphicon glyphicon-ok"> All vinyl, plastic rubber deep cleaned & protected including dash & doors. </li>
						</ul>
					</div>
					<h3>Book Now</h3>
					<%= link_to "Hatchback ₹999",new_service_booking_path('platinum-hatchback'), class: "home-btn platinum-bck-color" %><br>
					<%= link_to "Sedan ₹1249",new_service_booking_path('platinum-sedan'), class: "home-btn platinum-bck-color" %><br>
					<%= link_to "SUV ₹1599",new_service_booking_path('platinum-suv'), class: "home-btn platinum-bck-color" %>
				</div>
			</div>		
			<div class="clearfix"> </div>
		</div>
	</div>	
</div>
<!-- Services -->