<% content_for :title do %>
	<%= " - Booking"%>
<% end %>
<aside id="fh5co-hero" clsas="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
	   	<li style="background-image: url(/assets/slide_5.jpg);">
	   		<div class="overlay-gradient"></div>
	   		<div class="container">
	   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h1><%= @service.name.gsub('-', ' ').capitalize %></h1>
	   				</div>
	   			</div>
	   		</div>
	   	</li>
  	</ul>
	</div>
</aside>
<div class="fh5co-services">
	<div class="container" id="booking-form">
		<div class="row">
			<div class="services-left-grids">	
				<div class= "col-md-5 services-left-grid">
					<div class="panel panel-info">
						<div class="panel-heading">
							Booking For: <%= @service.name.gsub('-', ' ').capitalize %>
						</div>
						<div class="panel-body">
							<%= simple_form_for @order, url: "#{service_bookings_path(@service.name)}#booking-form" do |f| %>
							  <%= f.input :name, as: :string, input_html: {class: "custom-form-height"} %>
							  <%= f.input :contact_number, as: :string, input_html: {class: "custom-form-height"} %>
							  <%= f.input :email, as: :string, input_html: {class: "custom-form-height"} %>
							  <%= f.input :address, as: :text %>
							  <%= f.input :landmark, as: :string, input_html: {class: "custom-form-height"} %>
							  <%= f.input :date, as: :date, start_year: Date.today.year, start_month: Date.today.month, start_day: Date.today.day, input_html: {class: "custom-form-width", onchange: "get_available_slots('#{check_for_empty_slots_service_bookings_path(params[:service_id])}')"} %>
							  <div>
							  	<% if @time.present? && @time >= 12 || @allowed_timeslots[:first_half] == false %>		
							  		<%= f.input :first_half, label: Booking::FIRST_HALF, disabled: true %>
							  	<% else %>
							  		<%= f.input :first_half, label: Booking::FIRST_HALF %>
							  	
							  	<% end %>
							  </div>
							  <div>
							  	<% if @time.present? && @time >= 15 || @allowed_timeslots[:second_half] == false %>
							  		<%= f.input :second_half, label: Booking::SECOND_HALF, disabled: true%>		
							  	<% else  %>
							  		<%= f.input :second_half, label: Booking::SECOND_HALF, hint: '' %>
							  	
							  	<% end %>
							  </div>
							  <div>
							  	<% if @time.present? && @time >= 18 || @allowed_timeslots[:third_half] == false %>
							  		<%= f.input :third_half, label: Booking::THIRD_HALF, disabled: true %>
							  	<% else  %>
							  		<%= f.input :third_half, label: Booking::THIRD_HALF, hint: '' %>
							  	
							  	<% end %>
							  	<div class="has-error">
							  		<%= f.error :base %>
						  		</div>
							  </div>
							  <%= f.button :submit, "Book", class: "btn-success" %>
							<% end %>
						</div>
					</div>
					<div>* Note  <br>
						1. 500 ML Water if required should be provided by customer <br>
						2. Car Power Socket should be functional for vacuuming
					</div>
				</div>

				<div class= "col-md-6 services-left-grid row" style="margin-left:6%;">
					<ul class="list-group">
					<% @car_list.each do |car| %>
						<li class="list-group-itemc col-xs-6"> <%= car.name %></li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>