<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
	   	<li style="background-image: url(assets/slide_1.jpg);">
	   		<div class="overlay-gradient"></div>
	   		<div class="container">
	   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h2>The Eco Car Wash</h2>
	   					<p><%= link_to "Get Started", services_path, class: "btn btn-primary btn-lg" %></p>
	   				</div>
	   			</div>
	   		</div>
	   	</li>
	   	<li style="background-image: url(assets/slide_3.jpg);">
	   		<div class="container">
	   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h2>The DoorStep Car Wash</h2>
	   					<p><%= link_to "Get Started", services_path, class: "btn btn-primary btn-lg" %></p>
	   				</div>
	   			</div>
	   		</div>
	   	</li>
	   	<li style="background-image: url(assets/slide_2.jpg);">
	   		<div class="container">
	   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h2>The Water less Car Wash</h2>
	   					<p><%= link_to "Get Started", services_path, class: "btn btn-primary btn-lg" %></p>
	   				</div>
	   			</div>
	   		</div>
	   	</li>
	   	<li style="background-image: url(assets/slide4.jpg);">
	   		<div class="container">
	   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h2>The Pocket-Friendly Car Wash</h2>
	   					<p><%= link_to "Get Started", services_path, class: "btn btn-primary btn-lg" %></p>
	   				</div>
	   			</div>
	   		</div>
	   	</li>
  	</ul>
	</div>
</aside>


<div id="fh5co-why-us" class="animate-box">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Why Choose Us</h2>
				<p>Born with the sole motto of delighting our customers with finest car wash services. </p>
			</div>
			<div class="col-md-4 text-center item-block">
				<span class="icon">
					<%= image_tag "eco-world-leaf.jpg",class: "img-responsive" %>					
				</span>
				<h3>We are Ecofriendly</h3>
				<p>Don't waste water, don't waste fuel, don't waste energy and don't waste time. Ever left with a half filled bottle inside your car? Don't waste water!! Give it to us!! Just 500ml will make your car as shiny as new.</p>
				
			</div>
			<div class="col-md-4 text-center item-block">
				<span class="icon">
					<%= image_tag "doorstep.png",class: "img-responsive" %>					
				</span>

				<h3>Doorstep facility</h3>
				<p>Tired of waiting for your turn at the washing centre? Don't waste time! Call us and get your car washed at your doorstep. Whenever!! Wherever!!</p>
				
			</div>
			<div class="col-md-4 text-center item-block">
				<span class="icon">
					<%= image_tag "pocket-friendly.png",class: "img-responsive" %>	
				</span>
				<h3>Pocket Friendly</h3>
				<p>Love your car; We are customer friendly!! Love your money; We are pocket friendly!!</p>
				
			</div>
		</div>
	</div>
</div>

<div class="fh5co-section-with-image">
	<%= image_tag "image_1.jpg",class: "img-responsive" %>
	<div class="fh5co-box animate-box">
		<h2>Forward Thinking</h2>
		<p>India is progressing to make every city a SMART City. Are you a smart Citizen!!!
Free yourself from old ties and adapt to smart ways. Join our hands and move towards Smart India.</p>
	</div>	
</div>

<div id="fh5co-testimonial" class="animate-box">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Our Services</h2>
				<p>We care about our customer needs and we care for mother nature. </p>
			</div>
			
			<div class="col-md-4 text-center item-block">
				<%= image_tag "icon-car2.png",class: "img-responsive custom-img-center" %>
				<h3> Silver Spa </h3>
				<blockquote>
					<p>&ldquo; Eco-friendly exterior body wash, Interior dashboard clean, Tyre dressing, Windshield cleaning, and more! &rdquo;</p>
					
				</blockquote>
				<%= link_to "Book", "#{services_path()}#nav-services", class: "btn btn-primary btn-lg" %>
			</div>
			<div class="col-md-4 text-center item-block">
				<%= image_tag "icon-car3.png",class: "img-responsive custom-img-center" %>
				<h3> Gold Spa </h3>
				<blockquote>
					<p>&ldquo; Includes Silver Spa, Exterior polish/Waxing, Carpet vacuuming, Dashboard polishing, and more! &rdquo;</p>
					
				</blockquote>
				<%= link_to "Book", "#{services_path()}#nav-services", class: "btn btn-primary btn-lg" %>
			</div>
			<div class="col-md-4 text-center item-block">
				<%= image_tag "icon-car4.jpg",class: "img-responsive custom-img-center" %>
				<h3> Platinum Spa </h3>
				<blockquote>
					<p>&ldquo; Includes Gold Spa, Minor scratch removal from exterior, Battery terminal coating, Strain Removal, and more!&rdquo;</p>
					
				</blockquote>
				<%= link_to "Book", "#{services_path()}#nav-services", class: "btn btn-primary btn-lg" %>
			</div>
		</div>
	</div>
</div>

<div class="fh5co-cta" style="background-image: url(assets/image_3.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="col-md-12 text-center animate-box">
			<h3>We Try To Update The Site Everyday</h3>
			<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
		</div>
	</div>
</div>