<!-- banner -->
<div class="benner">
<!-- slider -->
<!--- img-slider --->
<div class="img-slider">
	<!----start-slider-script-->
 <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 4
      $("#slider4").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
  </script>
<!----//End-slider-script---->
<!-- Slideshow 4 -->
    <div  id="top" class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
        	<%= image_tag("slide1.jpg")%>
          <div class="slider-caption">
          	<h1>the<span>Car</span> Wash CENTER</h1>
         	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
          </div>
        </li>
        <li>
        	<%= image_tag("slide1.jpg")%>
           <div class="slider-caption">
          	<h1>the<span>Car</span> Care CENTER</h1>
          	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
          </div>
        </li>
        <li>
        	<%= image_tag("slide1.jpg")%>
           <div class="slider-caption">
           	<h1>the<span>Car</span> Wash CENTER</h1>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
</div>
	<!-- slider -->
<!-- banner -->
<!-- top-grids -->
<div class="top-grids">
	<div class="container">
	<div class="top-grids-head text-center">
		<h2>Our Services</h2>
		<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus. Sed efficitur cursus nibh</p>
	</div>
		<div class="col-md-4">
			<div class="top-grid">
				<div class="grid-icon">
					<span class="icons1"> </span>
				</div>
				<div class="grid-info">
					<h3>Lorem ipsum</h3>
					<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="top-grid">
				<div class="grid-icon">
					<span class="icons2"> </span>
				</div>
				<div class="grid-info">
					<h3>Lorem ipsum</h3>
					<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="top-grid">
				<div class="grid-icon">
					<span class="icons3"> </span>
				</div>
				<div class="grid-info">
					<h3>Lorem ipsum</h3>
					<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="top-grid">
				<div class="grid-icon">
					<span class="icons4"> </span>
				</div>
				<div class="grid-info">
					<h3>Lorem ipsum</h3>
					<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="top-grid">
				<div class="grid-icon">
					<span class="icons5"> </span>
				</div>
				<div class="grid-info">
					<h3>Lorem ipsum</h3>
					<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="top-grid">
				<div class="grid-icon">
					<span class="icons6"> </span>
				</div>
				<div class="grid-info">
					<h3>Lorem ipsum</h3>
					<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- top-grids -->
<!-- portfolio -->
<div class="portfolio">
	<div class="portfolio-grids">
		<div class="col-md-3 portfolio-grid">
			<div class="portfolio-pic">
				<%= image_tag("pic1.jpg", class: "img-responsive")%>
			</div>
			<div class="portfolio-caption">
				<a href="#"><span class="link"> </span></a>
				<h4>vestibulum</h4>
				<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
			</div>
		</div>
		<div class="col-md-3 portfolio-grid">
			<div class="portfolio-pic">
				<%= image_tag("pic2.jpg", class: "img-responsive")%>
			</div>
			<div class="portfolio-caption">
				<a href="#"><span class="link"> </span></a>
				<h4>vestibulum</h4>
				<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
			</div>
		</div>
		<div class="col-md-3 portfolio-grid">
			<div class="portfolio-pic">
				<%= image_tag("pic3.jpg", class: "img-responsive")%>
			</div>
			<div class="portfolio-caption">
				<a href="#"><span class="link"> </span></a>
				<h4>vestibulum</h4>
				<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
			</div>
		</div>
		<div class="col-md-3 portfolio-grid">
			<div class="portfolio-pic">
				<%= image_tag("pic4.jpg", class: "img-responsive")%>
			</div>
			<div class="portfolio-caption">
				<a href="#"><span class="link"> </span></a>
				<h4>vestibulum</h4>
				<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
			</div>
		</div>
		<div class="col-md-3 portfolio-grid">
			<div class="portfolio-pic">
				<%= image_tag("pic5.jpg", class: "img-responsive")%>
			</div>
			<div class="portfolio-caption">
				<a href="#"><span class="link"> </span></a>
				<h4>vestibulum</h4>
				<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
			</div>
		</div>
		<div class="col-md-3 portfolio-grid">
			<div class="portfolio-pic">
				<%= image_tag("pic7.jpg", class: "img-responsive")%>
			</div>
			<div class="portfolio-caption">
				<a href="#"><span class="link"> </span></a>
				<h4>vestibulum</h4>
				<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
			</div>
		</div>
		<div class="col-md-3 portfolio-grid">
			<div class="portfolio-pic">
				<%= image_tag("pic6.jpg", class: "img-responsive")%>
			</div>
			<div class="portfolio-caption">
				<a href="#"><span class="link"> </span></a>
				<h4>vestibulum</h4>
				<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
			</div>
		</div>
		<div class="col-md-3 portfolio-grid">
			<div class="portfolio-pic">
				<%= image_tag("pic8.jpg", class: "img-responsive")%>
			</div>
			<div class="portfolio-caption">
				<a href="#"><span class="link"> </span></a>
				<h4>vestibulum</h4>
				<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="clearfix"> </div>
</div>
<!-- portfoliogrids-caption -->
<div class="portfoliogrids-caption text-center">
	<div class="container">
		<p>posuere ut turpis in, facilisis aliquet metus<a class="port-btn" href="#">View Gallery</a></p>
	</div>
</div>
<!-- portfoliogrids-caption -->
<!-- portfolio -->
<!-- team -->
<div class="team">
	<div class="container">
		<div class="team-head text-center">
			<h3>Our team</h3>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
		</div>
		<!-- team-grids -->
		<div class="team-grids">
			<div class="col-md-4">
				<div class="team-grid">
					<div class="team-people">
						<div class="team-people-pic">
							<%= image_tag("people-pic.jpg", class: "img-responsive")%>
						</div>
						<div class="team-people-info">
							<h3>Established</h3>
							<p>reader will be distracted by the readable</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-grid">
					<div class="team-people">
						<div class="team-people-pic">
							<%= image_tag("people-pic1.jpg", class: "img-responsive")%>
						</div>
						<div class="team-people-info">
							<h3>Established</h3>
							<p>reader will be distracted by the readable</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-grid">
					<div class="team-people">
						<div class="team-people-pic">
							<%= image_tag("people-pic3.jpg", class: "img-responsive")%>
						</div>
						<div class="team-people-info">
							<h3>Established</h3>
							<p>reader will be distracted by the readable</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
		<!-- team-grids-caption -->
		<div class="team-grids-caption">
			<div class="container">
				<div class="team-grids-caption-left">
					<h4>He point of using Lorem Ipsum is that</h4>
					<p>as opposed to using Many desktop publishing packages and web page editors now use </p>
				</div>
				<div class="team-grids-caption-right">
					<a class="team-btn" href="#">ReadMore</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- team-grids-caption -->
		<!-- /team-grids -->
	</div>
</div>
<!-- /team -->