<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3">
				<div class="footer-grid">
					<h5>About CarWash</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis, urna a aliquam rhoncus,</p>
					<p> Ut ultrices diam enim, eget consectetur elit iaculis eu</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer-grid f-blog">
					<h5>Form the Blog</h5>
					<div class="f-blog-artical">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<span>March 20,2014</span>
					</div>
					<div class="f-blog-artical f-blog-artical1">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<span>March 20,2014</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer-grid site-map">
					<h5>Site Map</h5>
					<ul>
						<li><a href="index.html"><span> </span>Home</a></li>
						<li><a href="about.html"><span> </span>About</a></li>
						<li><a href="services.html"><span> </span>Services</a></li>
						<li><a href="products.html"><span> </span>Products</a></li>
						<li><a href="contact.html"><span> </span>Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer-grid f-gallery">
					<h5>Form the Gallery</h5>
					<div class="f-gallery-grids">
						<div class="f-gallery-grid">
							<ul>
								<li><%= link_to image_tag("people-pic.jpg"), "#" %></li>
								<li><%= link_to image_tag("people-pic1.jpg"), "#" %></li>
								<li><%= link_to image_tag("people-pic4.jpg"), "#" %></li>
								<li><%= link_to image_tag("people-pic3.jpg"), "#" %></li>
								<li><%= link_to image_tag("people-pic4.jpg"), "#" %></li>
								<li><%= link_to image_tag("people-pic1.jpg"), "#" %></li>
								<div class="clearfix"> 
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>