<header id="fh5co-header" role="banner" <%= params[:controller] == 'bookings' && params[:action] == 'show' ? 'class= custom-header-background' : ''%>>
	<div class="container">
		<div class="header-inner">
			<h1> <%= link_to "Spa911<span>.</span>".html_safe, root_path %> </h1>
			<nav role="navigation">
				<ul>
					<li <%= make_active_to('home') %>><%= link_to "Home", root_path %></li>
					<li <%= make_active_to('aboutus')%>><%= link_to "About", about_us_path %></li>
					<li <%= make_active_to('services')%>><%= link_to "Services", services_path %></li>
					<li <%= make_active_to('contactus')%>><%= link_to "Contact", contact_us_path %></li>					
				</ul>
			</nav>
		</div>
	</div>
</header>