<header id="fh5co-header" role="banner">
	<div class="container">
		<div class="header-inner">
			<h1><a href="#">Spa911<span>.</span></a></h1>
			<nav role="navigation">
				<ul>
					<li <%= make_active_to('home') %>><%= link_to "Home", root_path %></li>
					<li <%= make_active_to('aboutus')%>><%= link_to "About", about_us_path %></li>
					<li <%= make_active_to('services')%>><%= link_to "Services", services_path %></li>
					<li <%= make_active_to('contactus')%>><%= link_to "Contact", contact_us_path %></li>
					
				</ul>
			</nav>
		</div>
	</div>
</header>