<div class="header">
	<div class="container">
		<!-- logo -->
		<div class="logo">
			<%= link_to image_tag("logo.png"), "#" %>
		</div>
		<!-- /logo -->
		<!-- top-nav -->
		<div class="top-nav">
			<span class="menu"> </span>
			<ul>
				<li class=<%= make_active_to('home') %>><%= link_to "Home", root_path %></li>
				<li class=<%= make_active_to('aboutus')%>><%= link_to "About", about_us_path %></li>
				<li class=<%= make_active_to('services')%>><%= link_to "Services", services_path %></li>
				<li class=<%= make_active_to('contactus')%>><%= link_to "Contact", contact_us_path %></li>
				<div class="clearfix"> </div>
			</ul>
		</div>
		<!-- /top-nav -->
		<div class="clearfix"> </div>
	</div>
	<!-- /header -->
</div>