<!DOCTYPE html>
<html lang="en">
	<head>
	  <title><%= "Spa911Carwash" + yield(:title) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Spa911 is a complete car care unit which provides service at your door step ans echo friendly car wash" />
		<meta name="keywords" content="echo wash,interior cleaning,exterior celaning,waxing,polishing,glass cleaning, car wash in pune " />
		<meta name="author" content="Spa911 Organization" />

		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
		<!-- webfonts -->
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="fh5co-page">
			<%= render partial: "layouts/header" %>
			<%= flash_messages %>
			<%= yield %>
			<%= render partial: "layouts/footer" %>
		</div>
	</body>
</html>
