<!DOCTYPE html>
<html lang="en">
	<head>
	  <title><%= "Spa911Carwash" + yield(:title) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Spa911 is a complete car care unit which provides service at your door step ans echo friendly car wash" />
		<meta name="keywords" content="echo wash,interior cleaning,exterior celaning,waxing,polishing,glass cleaning, car wash in pune " />
		<meta name="author" content="Spa911 Organization" />

		<meta property="fb:app_id" content="https://www.facebook.com/carwashspa911/"/>
		<meta name="twitter:site" content="@Spa911CarWash" />
		<% if content_for? :og_tags %>
			<%= yield :og_tags %>
		<% end %>
		

		<!-- webfonts -->
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="fh5co-page">
			<%= render partial: "layouts/header" %>
			<%= flash_messages %>
			<%= yield %>
			<%= render partial: "layouts/footer" %>
		</div>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
